.sidebarStyle {
  padding: 0;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
  color: #969696;
  background-color: #333333;
}

.nav-pills > li > a {
  border-radius: 0px;
}