body {font-family: "Comic Sans MS", cursive, sans-serif;}

.jr_content div.content_page {
    margin-left: 200px;
    margin-top: 70px;
}

.jr_content_without_menu > div {margin-top: 70px;}
.add_book_form {margin-bottom: 15px;}

.book_category {
    border: 1px solid rgb(230, 230, 230);
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 5px;
    box-shadow: 10px 10px 5px rgb(202, 202, 202);
}

.block-title {position: initial;}
.category-img {
    padding-top: 5px;
    padding-bottom: 5px;
}

.category-img img {
    height: 200px;
    width: auto;
}
.no-padding-left {padding-left: 0 !important;}

.no-padding-right {padding-right: 0 !important;}

.book-category-title {
    font-size: 18px;
    color: rgb(128, 128, 128);
}

.book-category-ebook {
    color: rgb(128, 128, 128);
    position: absolute;
    bottom: 15px;
}

.book-category-title:hover, .book-category-ebook:hover {color: rgb(90, 90, 90);}

.form-control.select_genre {
    width: 40%;
    display: inline-block;
}

#genre-select {
    margin-left: 15px;
    color: #333333;
    font-size: 16px;
    margin-bottom: 10px;
}

.to_download_book, .to_read_book {
    margin-top:15px;
}
.easy-autocomplete {display: inline-block}

.description_book > div {margin-bottom: 15px;}

.jr-glyphicon.glyphicon-remove {color: rgb(149, 0, 0);}
.jr-glyphicon.glyphicon-ok, .glyphicon-ok-circle {color: rgb(0, 149, 0);}

.jr-glyphicon {
    font-size: 25px;
    cursor: pointer;
}

.jr-glyphicon-list {
    position: absolute;
    left: 20px;
    font-size: 30px;
    top: 10px;
}

@media screen and (max-width: 1450px) {
    .category-img img {height: 150px;}
    .book-category-title {font-size: 14px;}
}

@media screen and (max-width: 1199px) {
    .category-img img {height: 180px;}
}

@media screen and (max-width: 992px) {
    .jr_content div.content_page {margin-left: 0; margin-top: 80px;}
    .category-img img {height: 190px;}
}
@media screen and (max-width: 768px) {
    .category-img img {height: 200px;}
    .form-control.select_genre {width: 60%;}
    .easy-autocomplete {width: 200px !important;}
    /*.easy-autocomplete.eac-square input {min-width: 250px !important;}*/
}

@media screen and  (max-width: 480px) {
    .h1, h1 {font-size: 26px;}
    .category-img img {height: 160px;}
    .form-control.select_genre {width: 100%;}
}